<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="topnav" id="myTopnav">
    <a href="/" class="active">Home</a>
  <a href="/add" >Create Food</a>
  <a href="/read/all">Read Food</a>
  <a href="/update">Update Food</a>
  <a href="/read_delete">Delete Food</a>
    <a href="/order">Order Food!</a>
  <a href="javascript:void(0);" class="icon" onclick="handleNav()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<div id="logoContainer">
    <img  src="static/media/logo.png" id="logo" alt="logo"/>
</div>


    <table>
        <tr>
        <th>Food</th>
        <th>Quantity</th>
        </tr>
        {% for word in wordinfo %}
        <tr><td>{{word[0]}}</td><td>{{word[1]}}</td><td><a href="/delete/{{word[0]}}">Delete</a></td> </tr>
        {% endfor %}
    </table>
    <hr>
<!--    <a href="/">Home</a>-->
<script src="static/scripts/nav.js"></script>
</body>
</html>
