<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hangman</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/hangman.css">
</head>
<body>
<div id="wrapper">
    <header>
        <h1>HANGMAN</h1>
    </header>
    <nav>
        <ul>
            <li>Guess the word</li>
            <li>before the man</li>
            <li id="big">HANGS!</li>
        </ul>
    </nav>
    <main>
        <button class="button" onclick="newGame({{allwords}}, {{alllevels}}, {{allhints}})">New Game</button>
        <br><br>
        Enter a Letter:
        <input id="letter" type="text" onfocus="this.value=''">
        <button id="myBtn" class="button" onclick="guessIt()">Try It!</button>
        <br><br>
        <hr>
        <p id="guessword"></p>
        <p id="lettersused"></p>
        <br><br><br><br>
        <p id="Messages"></p><br><br>
        <p id="hint"></p><br><br>
        <button class="button" onclick="document.location='/'">Manage Words</button>
    </main>
    <aside>
        <figure>
            <img src="static/media/6.jpg" id="hangpics" width="250" height="355" alt="Hang Man">
        </figure>
    </aside>
    <footer>

    </footer>
</div>
<script src="static/scripts/hangman.js"></script>
<script>
  var input = document.getElementById("letter");
     input.addEventListener("keyup", function(event) {
     if (event.keyCode === 13) {
         event.preventDefault();
         document.getElementById("myBtn").click();
   }
 });

</script>
</body>
</html>


